body {
    font-family: Arial, sans-serif;
    background-color: #309cb8;
    color: #333;
}
.contenedor
{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;


}
h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #333;
}
.Palabra_clave {
    margin-bottom: 15px;
}
.CampoArchivo {
    margin-bottom: 15px;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

select {
    padding: 10px;             
    font-size: 16px;          
    width: 100%;              
    max-width: 300px;          
    border: 1px solid #ccc;   
    border-radius: 5px;      
    background-color: #f8f9fa;  
}


.botonBuscar {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #1570a5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.botonBuscar:hover {
    background-color: #92c6e9;
}
.miTitulo{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}



.ResultadoDebusqueda{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
}


.ResultadoDebusqueda table th, 
.ResultadoDebusqueda table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}


.ResultadoDebusqueda table th {
    background-color: #38a9cc;
    color: white;
    font-weight: bold;
}


.ResultadoDebusqueda table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ResultadoDebusqueda table tr:hover {
    background-color: #f1f1f1;
}


.RetrocederAlBuscador a {
    text-decoration: none;
    color: #24acce;
    font-weight: bold;
}

.RetrocederAlBuscadora:hover {
    color: #161515;
}

